In [7]:
import pandas as pd

In [64]:
# Путь к папке с фаилами
DATA_PATH = 'C:\\Users\\Tsebom\\Documents\\MyProject\\homework4_1\\.ipynb_checkpoints\\Data\\'

In [65]:
def read_file(file_):
    rezult = pd.read_csv(''.join([DATA_PATH, 'yob', str(file_), '.txt']), names=['Name','Sex','Quantity'])
    return rezult

In [66]:
def top_3(name):
    rezult = name.sort_values(by='Quantity', ascending=False).head(3)
    return rezult

In [67]:
def  count_top3(list_):
    names_top = pd.DataFrame({
        'Name': [],
        'Sex': [],
        'Quantity': []
    })
    
    for year in list_:
        name = top_3(read_file(year))
        
        names_top = pd.concat([names_top, name], names=['Name', 'Sex', 'Quantity'])
        
    names_top = top_3(names_top.groupby('Name').sum())
        
    return names_top

In [73]:
name = count_top3([1900, 1950, 2000])
print('ЗАДАНИЕ №1')
print('Пример из задания\nY: [1900, 1950, 2000]\nN: [James , John, Robert]')
name

ЗАДАНИЕ №1
Пример из задания
Y: [1900, 1950, 2000]
N: [James , John, Robert]

        Quantity
Name
James    86238.0
Robert   83575.0
Linda    80439.0

In [69]:
def count_dynamics(list_):
    rezult = {
        'Year': [],
        'Man': [],
        'Woman': []
    }
    
    for year in list_:
        name = read_file(year)
        
        rezult['Year'].append(year)
        rezult['Man'].append(name[name.Sex == 'M'].Quantity.sum())
        rezult['Woman'].append(name[name.Sex == 'F'].Quantity.sum())
        
    rezult = pd.DataFrame(rezult)
    
    return rezult

In [74]:
gender = count_dynamics([1900, 1950, 2000])
print('ЗАДАНИЕ №2')
print('Пример из задания\nY: [1900, 1950, 2000]\nF: [299810, 1713259, 1814922]\nM: [150486, 1790871, 1962744]')
gender

ЗАДАНИЕ №2
Пример из задания
Y: [1900, 1950, 2000]
F: [299810, 1713259, 1814922]
M: [150486, 1790871, 1962744]

       Man    Woman  Year
0   150486   299810  1900
1  1790871  1713259  1950
2  1962744  1814922  2000