In [5]:
import pandas as pd

In [6]:
# Путь к папке с фаилами
DATA_PATH = 'C:\\Users\\Tsebom\\Documents\\MyProject\\homework4_1\\.ipynb_checkpoints\\Data\\'

In [7]:
def read_file(file_):
    """
    Возвращает содержимое фаила
    """
    rezult = pd.read_csv(''.join([DATA_PATH, 'yob', str(file_), '.txt']), names=['Name','Sex','Quantity'])
    return rezult

In [8]:
def top_3(name):
    """
    Возвращает ТОП-3 имен
    """
    rezult = name.sort_values(by='Quantity', ascending=False).head(3)
    return rezult

In [30]:
def  count_top3_merge(list_):
    """
    Возвращает ТОП-3  имен за года из списка
    """

    names_top = read_file(list_[0])
    
    for year in range(len(list_) - 1):
        name = read_file(list_[year + 1])
        
        names_top = pd.merge(names_top, name, on=['Name', 'Sex'])
        names_top['Quantity'] = names_top.Quantity_x + names_top.Quantity_y
        names_top.drop('Quantity_x', axis=1, inplace=True)
        names_top.drop('Quantity_y', axis=1, inplace=True)
        
    
    names_top = names_top.sort_values(by='Quantity', ascending=False).head(3)

    return names_top

In [31]:
years = [1900, 1950, 2000]

print('\nЗАДАНИЕ №1')
print('Пример из задания\nY: [1900, 1950, 2000]\nN: [James , John, Robert]\n')
    
name = count_top3_merge(years)

print('\n##########-WORK-ON-MISTAKE-###########\n')

print('count_top3({}) == {}'.format(years, [x for x in name.Name]))
#name = dict(name)
#name = pd.DataFrame(name['Quantity'])
name

ЗАДАНИЕ №1
Пример из задания
Y: [1900, 1950, 2000]
N: [James , John, Robert]


##########-WORK-ON-MISTAKE-###########

count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

        Name Sex  Quantity
1146   James   M    111462
1144    John   M    109343
1149  Robert   M    101131