In [174]:
import pandas as pd

In [175]:
# Путь к папке с фаилами
DATA_PATH = 'C:\\Users\\Tsebom\\Documents\\MyProject\\homework4_1\\.ipynb_checkpoints\\Data\\'

In [176]:
def read_file(file_):
    """
    Возвращает содержимое фаила
    """
    rezult = pd.read_csv(''.join([DATA_PATH, 'yob', str(file_), '.txt']), names=['Name','Sex','Quantity'])
    return rezult

In [177]:
def top_3(name):
    """
    Возвращает ТОП-3 имен
    """
    rezult = name.sort_values(by='Quantity', ascending=False).head(3)
    return rezult

In [225]:
def count_dynamics(list_):
    """
    Возвращает кол-во мужских и женских имен в зависимости от года
    """
    rezult = {
        'Year': [],
        'Man': [],
        'Woman': []
    }
    
    for year in list_:
        name = read_file(year)
        
        rezult['Year'].append(year)
        rezult['Man'].append(name[name.Sex == 'M'].Quantity.sum())
        rezult['Woman'].append(name[name.Sex == 'F'].Quantity.sum())
        
    rezult = pd.DataFrame(rezult)
    
    return rezult

In [269]:
years = [1900, 1950, 2000]
gender = count_dynamics(years)
print('ЗАДАНИЕ №2')
print('Пример из задания\nY: [1900, 1950, 2000]\nF: [299810, 1713259, 1814922]\nM: [150486, 1790871, 1962744]')

rezult = dict()
rezult['M'] = [x for x in gender.Man]
rezult['F'] = [x for x in gender.Woman]

print('\ncount_dynamics({}) == {}'.format(years, rezult))
gender

ЗАДАНИЕ №2
Пример из задания
Y: [1900, 1950, 2000]
F: [299810, 1713259, 1814922]
M: [150486, 1790871, 1962744]

count_dynamics([1900, 1950, 2000]) == {'M': [150486, 1790871, 1962744], 'F': [299810, 1713259, 1814922]}

       Man    Woman  Year
0   150486   299810  1900
1  1790871  1713259  1950
2  1962744  1814922  2000